.CompactCard {
  display: flex;
  flex-direction: column;
  width: 10rem;
  border-radius: 0.7rem;
  color: white;
  position: relative;
  height: 15rem;
  padding: 10px;
  background: var(--black);
}

.menubutton {
  height: 10px;
}
.radialBar {
  padding: 5px;
}
.pythonLogo {
  background-color: lightgray;
  border-radius: 0.7rem;
  width: 40px;
  height: 40px;
  object-fit: fill;
}
.register-button {
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(58, 179, 227);
  border-radius: 0.7rem;
  margin-top: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: background 0.3s ease;
}
.detail {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.date,.eventCoordinator,
.time,
.venue,
.resourcePerson,
.registered {
  font-size: 10px;
  color: #ffffff;
}

.ExpandedCardTitle {
  font-size: 18px;

  padding: 2%;
  font-weight: bold;
}
.ExpandedpythonLogo {
  background-color: lightgray;
  border-radius: 0.7rem;
  width: 60px;
  height: 60px;
  object-fit: fill;
}
.ExpandedCard {
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  position: relative;
  padding: 10px;
  background: var(--black);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.register-button-disabled{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:red;
  border-radius: 0.7rem;
  margin-top: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: background 0.3s ease;
}
